.section.quote{
    display: block;
    opacity: 0;
    animation: getAnimationDuration(2s) appear forwards;
    animation-delay: 1s;
    .quote-text{
        font-size: 1.3em;
        color: var(--text-color);
        line-height: 1.3;
    }
    .quote-author{
        color: var(--text-light);
        text-align: right;
        margin-top: 1em;
    }
    .fa{
        font-size: 36px;
        color: var(--primary-color);
    }
}